@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to ToDoList App</h1>
        <p class="lead">Manage your tasks and notes with ease.</p>
        <hr class="my-4">
        <p>Get started by creating your first note!</p>
        
    </div>

    <div class="row">
     
    </div>
    <a class="btn btn-primary btn-lg" href="/Notes/Create" role="button">Create a Note</a>
</div>
